@import '../imports/ui/accounts/accounts-templates';

nav {
  background-color: #3498db;
}

@media screen and (max-width: 600px) {
  #toast-container {
    bottom: 58px;
  }
  .body {
    height: calc(100vh - 112px) !important;
  }
}

.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
.fixed-color {
  color: rgba(0, 0, 0, 0.5411764705882353);
}

.body {
  height: calc(100vh - 120px);
  overflow-y: auto;
  padding-top: 5px;
  margin-bottom: 56px;
}
.body .container .row-fixed {
  margin-bottom: 5px;
}

.col {
  margin-bottom: 0.5rem;
}

.match-preview {
  margin: 2px;
}
p.match-preview-text {
  margin-top: 5px;
  margin-bottom: 10px
}
.match-preview-panel {
  padding: 5px;
  margin: 2px;
}
.match-preview-panel .row {
    margin-bottom: 0px;
}
.match-preview-expand .col .tabs {
  border-top: solid #607d8b 1px;
  background-color: transparent !important
}

.points_panel div {
  padding: 2px !important;
}
.points_panel a {
  margin: 3px 0 !important;
}

.match-preview-tabs {
  overflow: hidden;
  background-color: transparent;
}
.event p {
  margin: 0px;
}
.time-event {
  border-top: solid 1px;
}

.message {
  padding: 20px !important;
}
