@import '../imports/ui/accounts/accounts-templates';
@import '../imports/ui/navBar/navBar';
@import '../imports/ui/body/body';
@import '../imports/ui/loading/loading';

/*Animations*/

@keyframes twinkle {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes spin {
  0%   {transform: rotate(-20deg);}
  100%  {transform: rotate(380deg);}
}

/*End animations*/

.brand-logo img {
  margin: 5px;
  width: 54px;
  height: 54px;
  transition: transform 0.5s;
  transform: rotate(0deg);
}

.brand-logo img:hover {
  animation-name: spin;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  transform: rotate(-20deg);
}

@media screen and (max-width: 600px) {
  #toast-container {
    bottom: 56px;
  }

  .brand-logo img {
    width: 46px;
    height: 46px;
  }
}

.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.bottom-nav div div {
  background-color: rgb(218, 218, 218) !important;
}

.fixed-color {
  color: rgba(0, 0, 0, 0.5411764705882353);
}

.col {
  margin-bottom: 0.5rem;
}

.match-preview {
  margin: 2px;
}
p.match-preview-text {
  margin-top: 5px;
  margin-bottom: 10px
}
.match-preview-panel {
  padding: 5px;
  margin: 2px;
}
.match-preview-panel .row {
    margin-bottom: 0px;
}
.match-preview-expand .col .tabs {
  border-top: solid #607d8b 1px;
  background-color: transparent !important
}

.points_panel div {
  padding: 2px !important;
}
.points_panel a {
  margin: 3px 0 !important;
}

.match-preview-tabs {
  overflow: hidden;
  background-color: transparent;
}

.time-event {
  margin: auto !important;
  width: 200px;
  background: #b2bec3;
  padding: 0.5px 10px;
  border-radius: 10px;
  color: #636e72;
}

.event p {
  margin: 0px;
}

.message {
  padding: 20px !important;
}

#select_date {
  margin: 0;
}

@keyframes twinkle {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

.live-text {
  animation-name: twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.end-flag {
  font-size: 20px;
  vertical-align: sub;
}
