.match-preview {
  margin: 10px auto;
}
p.match-preview-text {
  margin-top: 5px;
  margin-bottom: 10px
}
.match-preview-panel {
  padding: 5px;
}
.match-preview-panel .row {
    margin-bottom: 0px;
}
.match-preview-expand .col .tabs {
  border-top: solid #607d8b 1px;
  background-color: transparent !important
}

.points_panel div {
  padding: 2px !important;
}
.points_panel a {
  margin: 3px 0 !important;
}

.match-preview-tabs {
  background-color: transparent;
}
.event p {
  margin: 0px;
}
